*{
  /*  border: thin dashed red;*/
    box-sizing: border-box;

}

body{
margin:0;
background: black;

}
.container{
    background: rgb(194, 194, 194);
    margin-left:100px;
    margin-right: 100px;
  
}

.title{
    background: white;
    text-align: center;
}

.title h1{
    margin: 0;
    padding: 5px;

}
.card{
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
img{
    width: 100%
}
.card{
    margin-top:40px;
}
.card header{
    display: flex;
    align-items: center;
    padding: 5px;
    
    }
header h2{
    width: 80%;
}
header p{
    width: 20%;
     text-align: right;
     color: #c9c4c4
}
.footer{
    padding: 10px;
}
